<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>DFTFringe-AR</Name>
    <Version>MY_AUTOMATED_VERSION_STRING</Version>
    <Title>DFTFringe-AR Installer</Title>
    <Publisher>githubdoe</Publisher>
    <StartMenuDir>DFTFringe-AR</StartMenuDir>
    <TargetDir>C:/DFTFringe-AR-@Version@</TargetDir>
</Installer>
