<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>DFTFringe-astig</Name>
    <Version>MY_AUTOMATED_VERSION_STRING</Version>
    <Title>DFTFringe-astig Installer</Title>
    <Publisher>githubdoe</Publisher>
    <StartMenuDir>DFTFringe-astig</StartMenuDir>
    <TargetDir>@HomeDir@/DFTFringe-astig</TargetDir>
</Installer>
